@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    background-color: black;
    font-family: 'Special Elite', cursive;
}

nav {
    background-color: black;
    text-align: center;
    margin-top: 50px;
}

nav a {
    background-color: black;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 15px;
    padding: 5px;
}

.logo h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}

nav a:hover {
    background-color: RGB(224, 123, 61);
}

main {
    background-color: black;
}

h2 {
    background-color: white;
    color: black;
}

p {
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer {
    background-color: plum;
}

footer ul {
    background-color: lightseagreen;
}

footer li {
    background-color: paleturquoise;
}

footer a {
    background-color: thistle;
}